@import url("https://fonts.googleapis.com/css?family=Jost:400,600|Bowlby+One:400");

/* Define root variables */
:root {
  /* Color Palette */
  --color-slate-blue: #416479;
  --color-teal-blue: #288897;
  --color-seafoam-green: #7CB0A3;
  --color-pale-beige: #EDDCBB;
  --color-dusty-rose: #A85655;
  --color-charcoal-gray: #2C2C2C;
  --color-white: #FFFFFF;

  --primary-color: var(--color-slate-blue);
  --secondary-color: var(--color-dusty-rose);
  --background-color: var(--color-white);
  --text-color: var(--color-charcoal-gray);
  --text-color-invert: var(--color-white);
  --link-color: var(--color-dusty-rose);
  --link-inverted-color: var(--color-white);
  --link-hover-color: var(--color-teal-blue);
  --color-accent: var(--color-seafoam-green);

  /* Font Settings */
  --font-family-bowlby: "Bowlby One", Helvetica;
  --font-family-jost: "Jost", Helvetica;
  --font-family-heading: var(--font-family-bowlby);
  --font-family-text: var(--font-family-jost);
  --font-size-body: 18px;
  --font-size-large-body: 24px;
  --font-size-link: 18px;
  --font-size-heading: 54px;
  --font-size-footer: 14px;
  --font-size-section-heading: 32px;
  --line-height: 1.6;
  --font-weight-bold: 600;
  --font-weight-normal: 400;

  /* Spacing */
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 40px;
  --spacing-extra-large: 80px;

  /* Border Radius */
  /* --border-radius: 5px; */
  --border-radius: 40px;
}

/* General Reset */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-text);
  font-size: var(--font-size-body);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Header */
header {
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  gap: var(--spacing-medium);
  justify-content: space-between;
  padding: var(--spacing-medium) var(--spacing-large);
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: var(--spacing-large);
}

header nav ul li a {
  text-transform: uppercase;
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-size-link);
  transition: color 0.3s;
}

header .nav {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  header {
    justify-content: center;
  }

  header button {
    display: none;
  }
}

/* Main Content */
main {
}

/* Sections */
section {
  padding: var(--spacing-extra-large);
}

@media only screen and (max-width: 600px) {
  section {
    padding: var(--spacing-large)
  }
}

section .section-content {
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-heading);
  line-height: 72px;
  margin: 0;
  margin-bottom: var(--spacing-medium);
  font-weight: var(--font-weight-normal)
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

h2 {
  font-family: var(--font-family-text);
  text-transform: uppercase;
  font-size: var(--font-size-section-heading);
  margin: 0;
  margin-bottom: var(--spacing-large);
}

@media only screen and (max-width: 600px) {
  h2 {
    margin-bottom: var(--spacing-medium)
  }
}

h3 {
  font-family: var(--font-family-text);
  font-size: var(--font-size-large-body);
  font-weight: var(--font-weight-normal);
  margin: 0;
}

p {
  font-family: var(--font-family-text);
  font-size: var(--font-size-body);
  margin: 0;
}

button {
  cursor: pointer;
  font-size: 18px;
  font-family: var(--font-family-text);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: 0;
  box-shadow: none;
  color: var(--text-color-invert);
  display: inline-block;
  height: 40px;
  padding: 0 var(--spacing-medium);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--link-hover-color);
}

.section-content a {
  color: var(--link-color);
  text-decoration: none;
}

.dark-background .section-content a {
  color: var(--link-inverted-color);
}

a:hover {
  color: var(--link-hover-color) !important;
}


/* Footer */
footer {
  background-color: var(--color-white);
  color: var(--text-color);
  padding: var(--spacing-large);
  text-align: center;
  font-size: var(--font-size-footer);
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: var(--spacing-small);
}

footer ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-size-link);
  transition: color 0.3s;
}

footer ul li a:hover {
  color: var(--link-hover-color);
}

footer p {
  font-size: var(--font-size-footer);
}

footer img {
  margin-bottom: var(--spacing-small);
}


/* Utility Classes */
.text-center {
  text-align: center;
}

.bold {
  font-weight: var(--font-weight-bold);
}

section.section-center {
  text-align: center;
}

.dark-background {
  background-color: var(--primary-color);
  color: var(--text-color-invert);
}

/* Logo */
.logo {
  max-width: 300px;
  color: var(--text-color);
}

.logo-invert {
  color: var(--text-color-invert);
}


/* Hero */
#hero {
  position: relative;
  background-image: url('assets/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 50px;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

#hero * {
  position: relative;
  z-index: 2;
}

#hero .hero-image,
#hero button {
  display: none;
}

#hero .hero-content {
  max-width: 600px;
  background-color: white;
  border-radius: 38px;
  padding: var(--spacing-large);
}

@media only screen and (max-width: 600px) {
  #hero {
    background-image: none;
    padding: 0;
  }

  #hero::before {
    content: none;
  }

  #hero .hero-image {
    height: 150px;
    display: block;
    position: relative;
    background-image: url('assets/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #hero .hero-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
  }

  #hero .hero-content {
    text-align: center;
    border-radius: 0;
  }

  #hero button {
    display: block;
    margin: 0 auto;
    margin-top: var(--spacing-medium)
  }
}

/* Sections */
#about p {
  margin-bottom: 20px;
}

.service-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--spacing-large) var(--spacing-small)
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
  text-align: center;
  max-width: 300px;
}

.service-item .icon-wrapper {
  width: 50px;
  height: 50px;
  background-color: var(--color-accent);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-small);
}

.service-item i {
  font-size: 24px;
  color: var(--color-white);
}

@media only screen and (max-width: 600px) {
  .service-item {
    flex-direction: row;
    max-width: none;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  
  .service-item .icon-wrapper {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }

  .service-item i {
    font-size: 20px;
  }

  .service-item-text {
    flex: 1;
  }
}

.why-item {
  margin-bottom: var(--spacing-small);
}

.why-item:last-child {
  margin-bottom: 0;
}

#contact .contact-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-extra-large);
}

#contact .contact-item {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-small);
}


#contact h2 {
  margin-bottom: var(--spacing-medium);
}

#contact .section-content > p {
  margin-bottom: var(--spacing-large);
}

@media only screen and (max-width: 600px) {
  #contact .contact-item-container {
    flex-direction: column;
    gap: var(--spacing-medium);
  }
}
